<!DOCTYPE html>
<html ng-app="testApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AngularJS and Typescript</title>
    <!-- styles:css -->
    <link rel="stylesheet" href="/.build/css/appStyles.css">
    <!-- endinject -->
    <!-- vendors:js -->
    <script src="/.build/vendors/vendors.js"></script>
    <!-- endinject -->
    <!-- app:js -->
    <script src="/.build/javascript/app.js"></script>
    <!-- endinject -->
</head>
<body>
<ng-view></ng-view>
</body>
</html>